@keyframes pulse {
    from{
        transform: scale(1);
        opacity: 0.5;
    }
    to{
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulse2 {
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(1.6);
        opacity: 0;
    }
}

@-webkit-keyframes come-in {
    0% {
      -webkit-transform: translatey(100px);
              transform: translatey(100px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translateX(-50px) scale(0.4);
              transform: translateX(-50px) scale(0.4);
    }
    70% {
      -webkit-transform: translateX(0px) scale(1.2);
              transform: translateX(0px) scale(1.2);
    }
    100% {
      -webkit-transform: translatey(0px) scale(1);
              transform: translatey(0px) scale(1);
      opacity: 1;
    }
  }
  @keyframes come-in {
    0% {
      -webkit-transform: translatey(100px);
              transform: translatey(100px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translateX(-50px) scale(0.4);
              transform: translateX(-50px) scale(0.4);
    }
    70% {
      -webkit-transform: translateX(0px) scale(1.2);
              transform: translateX(0px) scale(1.2);
    }
    100% {
      -webkit-transform: translatey(0px) scale(1);
              transform: translatey(0px) scale(1);
      opacity: 1;
    }
  }
  * {
    margin: 0;
    padding: 0;
  }