@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 0.5;
	}
	to {
		transform: scale(1.4);
		opacity: 0;
	}
}

@keyframes pulse2 {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(1.6);
		opacity: 0;
	}
}

@keyframes come-in {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	30% {
		transform: translateX(-50px) scale(0.4);
	}
	70% {
		transform: translateX(0px) scale(1.2);
	}
	100% {
		transform: translateY(0px) scale(1);
		opacity: 1;
	}
}
@keyframes come-out {
	0% {
		transform: translateY(0px) scale(1);
		opacity: 1;
	}
	30% {
		transform: translateX(0px) scale(1.2);
		opacity: 1;
	}
	70% {
		transform: translateX(-50px) scale(0.4);
	}
	100% {
		transform: translateY(100px);
		opacity: 0;
	}
}

@keyframes showImg{
	from{
		opacity:0
	}
	to{
		opacity:1
	}
}
@keyframes rotate-right{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes rotate-left{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-360deg);
    }
}

@keyframes tilt-n-move-shaking {
	0% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(5px, 5px) rotate(5deg); }
	50% { transform: translate(0, 0) rotate(0eg); }
	75% { transform: translate(-5px, 5px) rotate(-5deg); }
	100% { transform: translate(0, 0) rotate(0deg); }
  }