$main-color: rgb(25 177 191);
$white: #ffff;
$bg-color: #ebeff6;
$second-color: #fa9483;
$beige: #f3deca;
$dark: #2d4057;
$darker: #14042a;
$gold: #d6c78e;
$pure-white: #fff;
$light-white: #eee;
$second-colordarker: #a14636;
$main-colorlighter: rgb(32, 183, 196);