@use './colors' as *;
@use './animations' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
	font-size: 1.6rem;
}
.faqbody {
	background-image: repeating-linear-gradient(to top, #330867 0%, #30cfd0 100%);
	.hero-shadow {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -10;
	}
}

h2 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 1.5em;
}
.underline {
	margin: 1.5em auto 3em;
	width: 4em;
	height: 2px;
	background-color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.9);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

nav {
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);

	.logo {
		height: 3em;
		width: 3em;
		padding: 0.2em;
		margin-left: 0.5em;
	}
	.logo-bottom {
		position: absolute;
	}

	.logo-top {
		position: relative;
		transition: opacity 0.3s ease-in-out;
	}

	.fa-bars {
		font-size: 2rem;
		padding: 0.5em;
		color: $white;
	}
	.social-media__box {
		display: none;
	}
	.social-media__box-mobile {
		text-align: center;
		margin: 0.6em 0;
		i {
			font-size: 1.7rem;
			padding: 0 0.7em;
			color: $white;
			transition: color 0.3s;
		}

		i:hover {
			color: $main-color;
		}
	}

	.nav-link {
		text-align: center;
		padding: 0.7em 0;
		font-size: 1.3rem;
		margin: 0 0.9em;
		font-weight: bold;
		color: $white;
		transition: color 0.3s;
	}

	.nav-link:hover {
		color: $main-color;
	}
}
.navbar-nav {
	.nav-link.active {
		color: $main-color;
	}
}
a.navbar-brand {
	font-size: 1.5rem;
	text-align: center;
	transition: font-size 0.5s;
}
a.navbar-brand:hover {
	.logo-top {
		opacity: 0;
	}
}
.navbar {
	padding: 0.3em 0 !important;
}
.navbar-collapse {
	border-top: 1px solid rgb(55, 55, 55);
}
button:focus:not(:focus-visible) {
	outline: none;
	border: 1px solid transparent;
}
.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

header {
	color: $white;

	h1 {
		font-size: 3.5rem;
		text-transform: uppercase;
		padding: 1rem;

		background: linear-gradient(to right, white, #19b1bf);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	p {
		position: relative;
		font-size: 1.6rem;
		background: linear-gradient(to left, #fff, #19b1bf);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
		background-position: center;
		background-size: cover;
		background-attachment: local;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -10;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 0.8rem;
		text-align: center;
		z-index: 10;
	}
}
///about us///

.about {
	background-color: $white;
	overflow: hidden;

	&__box {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		gap: 2em;
		padding: 2em 2em;
	}

	&__card {
		position: relative;
		display: grid;
		justify-items: center;
		align-items: center;
		justify-content: center;

		padding: 6.5em;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: $bg-color;
		transition: background-color 0.3s, border 0.3s;
		box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
		z-index: 5;
		// overflow: hidden;
		.text {
			position: absolute;
			font-size: 1.4rem;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			padding: 2em 0.5em;
			border-radius: 8px;
			// top: 50%;
			// transform: translateY(-50%);
			background-color: #fff;
			clip-path: circle(0% at 50% 50%);
			transition: clip-path 0.5s;
		}

		&:hover {
			background-color: $white;
			border: 1px solid $main-color;
			z-index: 1;
		}
		&:hover > .text {
			clip-path: circle(120% at 50% 90%);
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $main-color;
			border-radius: 8px;
			opacity: 0;
		}

		&:hover::before {
			animation: pulse 1s;
		}

		i {
			font-size: 3rem;
			margin-bottom: 1em;
		}

		h3 {
			margin-bottom: 0.6em;
			text-transform: uppercase;
		}

		&--one {
			grid-row: 1/2;
			grid-column: 1/-1;
		}

		&--two {
			grid-row: 2/3;
			grid-column: 1/-1;
		}

		&--three {
			grid-row: 3/4;
			grid-column: 1/-1;
		}
		&--four {
			grid-row: 4/5;
			grid-column: 1/-1;
		}
		&--five {
			grid-row: 5/6;
			grid-column: 1/-1;
		}
		&--six {
			grid-row: 6/7;
			grid-column: 1/-1;
		}
	}
}

.aboutus-hero {
	position: relative;
	background-image: linear-gradient(to bottom, #330867 0%, #30cfd0 100%);
	background-position: center;
	background-size: cover;
	color: #ddd;
	z-index: 0;
	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -5;
	}
	.aboutus-hero-item {
		margin: 3em 0;
		i {
			font-size: 3rem;
			margin: 0.5em 0;
			text-shadow: (2px 2px 5px #000000);
		}
		.aboutus-hero-title {
			font-size: 2.5rem;
		}
	}
	.info-circle {
		display: block;
		position: relative;
		height: 40px;
		width: 40px;

		// bottom: 3em;
		left: 50%;
		// // padding: 2em;
		transform: translateX(-50%);
		border: 1px solid $second-color;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $second-color;
			border-radius: 50%;
			animation: pulse2 2s infinite;
		}
		.read-more {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			color: $second-color;
			font-size: 4rem;
			text-shadow: (2px 2px 5px #000000);
			cursor: pointer;
			transition: color 0.3s;
		}
		.read-more:hover {
			color: #d5604c;
		}
	}
}

/////portfolio////
///
///
#portfolio {
	button {
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

.carousel {
	display: none;
}
.card-body {
	h5 {
		font-size: 1.5rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		padding: 2em;
	}
	.option-btn {
		margin: 0.8em 0;
		padding: 0.8em;
		width: 50%;
		color: $pure-white;
		background-color: $main-color;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		display: inline-block;

		left: 50%;
		transform: translateX(-50%);
	}
	.option-btn::before {
		background-color: rgb(8, 115, 125);
	}

	.btn-special-animation {
		position: relative;
		transition: background-color 0.3s;
		overflow: hidden;
		z-index: 0;

		&::before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.3s;
			z-index: -1;
		}

		&:hover::before {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}
//cooperation///
.cooperation {
	background-color: #f7f7f7;
}

//contact//

.contact {
	margin: 4em 0;
	h3 {
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}
	p {
		text-align: center;
		padding-top: 1em;
	}

	.contact-data:first-of-type {
		margin-top: 2em;
	}
	.contact-data {
		position: relative;
		padding-left: 70px;
		padding-top: 2em;

		h4 {
			text-align: left;
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: bold;
		}
		p {
			text-align: left;
		}
		a {
			display: block;
			text-align: left;
			text-decoration: none;
			color: #000000;
			transition: color 0.3s;
		}
		a:first-of-type {
			margin-top: 1em;
		}
		a:hover {
			color: $main-color;
		}
	}

	.contact-icon {
		height: 40px;
		width: 40px;
		border: 2px solid $main-color;
		border-radius: 50%;
		text-align: center;
		position: absolute;
		left: 0;
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			// color:$main-color;
		}
	}
	.contact-text {
		display: inline-block;
	}

	form {
		padding-left: 4em;
		width: 90%;
		max-width: 600px;
		margin-top: 4em;
	}
	.input-group {
		margin-bottom: 30px;
		position: relative;
	}

	input,
	textarea {
		width: 100%;
		padding: 0.7em;
		outline: 0;
		border: 1px solid $main-color;
		color: $main-color;
		background: transparent;
		font-size: 1.5rem;
	}
	label {
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		padding: 1em;
		color: #000;
		font-size: 1.3rem;
		cursor: text;
		transition: top 0.3s, font-size 0.3s;
	}
	button {
		padding: 0.7em 0;
		color: $white;
		outline: none;
		background: $main-color;
		border: none;
		width: 100%;
		cursor: pointer;
		transition: background 0.3s;
	}
	button:hover {
		background: #000;
	}

	input:focus ~ label,
	input:valid ~ label {
		top: -35px;
		font-size: 1.3rem;
	}
	textarea:focus ~ label,
	textarea:valid ~ label {
		top: -35px;
		font-size: 1.3rem;
	}
	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.input-group {
			flex-basis: 48%;
		}
	}
}

.faq {
	padding-top: 5em;

	width: 100%;
	height: 100%;
	h2 {
		color: $white;
	}
	.accordion {
		padding: 0.8em;
	}
	.accordion-button {
		background: linear-gradient(to right, $second-colordarker, $main-colorlighter);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 1.6rem;
		font-weight: bold;
	}
}
// Galeria 1 i 2 //

.gallery1 {
	padding-top: 5em;
}
.gallery2comer {
	padding-top: 5em;
}

///footer///
///
footer {
	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2em;
	}
	span.logo-element {
		color: $main-color;
		font-size: 1.6rem;
		font-weight: bold;
	}
	p {
		text-align: center;
		color: $white;
		font-size: 1.6rem;
	}
	.socials {
		display: flex;
		justify-content: center;
		a {
			margin: 0 5px;
			position: relative;
			display: inline-block;
			width: 37px;
			height: 37px;
			background-color: #000;
			border-radius: 50%;
			text-align: center;
			color: $white;
			transition: background-color 0.3s;
		}
		a:hover {
			background-color: $main-color;
		}
		i {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.copyright {
		margin-top: 2em;
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		color: $white;
		font-size: 1rem;
	}
}

// @media (min-width: 375px) {
// }
@media (min-width: 768px) {
	header {
		h1 {
			font-size: 4.5rem;
		}
		p {
			font-size: 2rem;
			padding-top: 0.5em;
		}
	}
	.about {
		&__box {
			padding: 5em 2em;
		}

		&__card {
			&--one {
				grid-row: 1/2;
				grid-column: 1/4;
			}
			&--two {
				grid-row: 1/2;
				grid-column: 4/7;
			}
			&--three {
				grid-row: 1/2;
				grid-column: 7/10;
			}
			&--four {
				grid-row: 2/3;
				grid-column: 1/4;
			}
			&--five {
				grid-row: 2/3;
				grid-column: 4/7;
			}
			&--six {
				grid-row: 2/3;
				grid-column: 7/10;
			}
		}
	}
	.contact {
		h3 {
			text-align: left;
		}
		p {
			text-align: left;
		}
		form {
			margin-top: 0;
		}
	}
}
@media (min-width: 992px) {
	nav {
		background-color: rgba(0, 0, 0, 0.4);

		.logo {
			height: 5em;
			width: 5em;
			padding: 0.5em;
			margin-left: 2em;
		}
		.social-media__box {
			display: block;
			position: absolute;
			right: 1.3em;

			margin: 0 0.5em;
			// margin-top: 0.5em;

			i {
				font-size: 1.7rem;
				padding: 0 0.7em;
				color: $white;
				transition: color 0.3s;
			}

			i:hover {
				color: $main-color;
			}
		}
	}
	.social-media__box-mobile {
		display: none;
	}

	.navbar-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.navbar-collapse {
		border-top: none;
	}
	.carousel {
		display: block;
		.carousel-caption {
			background-color: rgba(0, 0, 0, 0.5);
			left: 0;
			right: 0;

			p {
				padding: 1em;
			}
			.to-gallery {
				display: inline-block;
				padding: 1em;
				text-decoration: none;
				font-weight: bold;
				text-transform: uppercase;
				color: $white;
				transition: color 0.3s;
			}
			a:hover {
				color: $main-color;
			}
		}
		.carousel-indicators {
			padding-bottom: 1em;
		}
		.carousel-indicators [data-bs-target] {
			background-color: $main-color;
		}
		.carousel-control-next-icon {
			width: 3rem;
			height: 3rem;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 50%;
		}
		.carousel-control-prev-icon {
			width: 3rem;
			height: 3rem;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 50%;
		}
	}
}
@media (min-width: 1200px) {
	header {
		h1 {
			font-size: 5.5rem;
		}
		p {
			font-size: 2.5rem;
			padding-top: 0.5em;
		}
	}
	h2 {
		font-size: 3rem;
	}
}
