@use "./colors" as *;
@use "./animations" as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: $bg-color;
	font-size: 1.6rem;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}
.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.9);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

nav {
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);

	.logo {
		height: 3em;
		width: 3em;
		padding: 0.2em;
		margin-left: 0.5em;
	}
	.logo-bottom {
		position: absolute;
	}

	.logo-top {
		position: relative;
		transition: opacity 0.3s ease-in-out;
	}

	.fa-bars {
		font-size: 2rem;
		padding: 0.5em;
		color: $white;
	}
	.social-media__box {
		display: none;
	}
	.social-media__box-mobile{
		text-align: center;
		margin: 0.6em 0;
		i {
			font-size: 1.7rem;
			padding: 0 0.7em;
			color: $white;
			transition: color 0.3s;
		}

		i:hover {
			color: $main-color;
		}
	}

	.nav-link {
		text-align: center;
		padding: 0.7em 0;
		font-size: 1.3rem;
		margin: 0 1em;
		font-weight: bold;
		color: $white;
		transition: color 0.3s;
	}
	
	.nav-link:hover {
		color: $main-color;
	}
}
.navbar-nav {
	.nav-link.active {
		color: $main-color;
	}
}
a.navbar-brand {
	font-size: 1.5rem;
	text-align: center;
	transition: font-size 0.5s;
}
a.navbar-brand:hover {
	.logo-top {
		opacity: 0;
	}
}
.navbar {
	padding: 0.3em 0 !important;
}
.navbar-collapse {
	border-top: 1px solid rgb(55, 55, 55);
}
button:focus:not(:focus-visible){
  outline: none;
  border:1px solid transparent;
}
.navbar-toggler:focus{
  outline:none;
  box-shadow: none;
}


header {
	color: $white;

	h1 {
		font-size: 3.5rem;
		text-transform: uppercase;
	}
	p {
		font-size: 1.5rem;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
		// background-position: center;
		// background-size: cover;
		// background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -10;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 2em;
		text-align: center;
		z-index: 10;

		span {
			color: $main-color;
		}
	}
}
///OFERTA///

.about {
	background-color: $white;
	overflow: hidden;
	h2{
		margin-top: 2em;
	}
	
	&__box {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		gap: 2em;
		padding: 2em 2em;

		
	}

	&__card {
		position: relative;
		display: grid;
		justify-items: center;
		align-items: center;
		justify-content: center;
		padding: 3em;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: $bg-color;
		transition: background-color 0.3s, border 0.3s;
		box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
		z-index: 5;
		// overflow: hidden;
		.text{
			
			position: absolute;
			font-size: 1.4rem;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			padding:1em 0.5em;
			border-radius: 8px;
			// top: 50%;
			// transform: translateY(-50%);
			background-color: #fff;
			clip-path:circle(0% at 50% 50%);
			transition: clip-path .5s;
			
		}

		&:hover{
			
			background-color: $white;
			border: 1px solid $main-color;
			z-index: 1;
		}
		&:hover>.text{
			clip-path:circle(120% at 50% 90%);
		}
		

		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			border: 1px solid $main-color;
			border-radius: 8px;
			opacity: 0;
		}

		&:hover::before {
			animation: pulse 1s;
		}

		i{
			font-size: 2rem;
			margin-bottom: 1em;
			
		}

		h3 {
			margin-bottom: 0.6em;
			text-transform: uppercase;
		
		}

		&--one {
			grid-row: 1/2;
			grid-column: 1/-1;
		}

		&--two {
			grid-row: 2/3;
			grid-column: 1/-1;
		}

		&--three {
			grid-row: 3/4;
			grid-column: 1/-1;
		}
		&--four {
			grid-row: 4/5;
			grid-column: 1/-1;
		}
		&--five {
			grid-row: 5/6;
			grid-column: 1/-1;
		}
		&--six {
			grid-row: 6/7;
			grid-column: 1/-1;
		}
	}
}

.aboutus-hero{
	position: relative;
	background-image: linear-gradient(to bottom, #330867 0%, #30cfd0 100%);
	background-position: center;
	background-size: cover;
	color: #ddd;
	z-index: 0;
	.aboutus-shadow{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -5;
	}
	.aboutus-hero-item{
		margin: 3em 0;
		i{
			font-size: 3rem;
			margin: 0.5em 0;
			text-shadow:(2px 2px 5px #000000);
		}
		.aboutus-hero-title{
			
			font-size: 2.5rem;
		}
	}
	a{
		text-decoration: none;
		position: absolute;
		bottom: 0;
		text-transform: uppercase;
		left: 50%;
		transform: translateX(-50%);
		color:$second-color;
		transition: color .3s;
		i{
			font-size: 2rem;
			padding: 0 0.3em;
		}
	}
	a:hover{
		color:$beige;
	}
}


// @media (min-width: 375px) {
// }
@media (min-width: 768px) {
	header {
		h1 {
			font-size: 4.5rem;
		}
		p {
			font-size: 2rem;
			padding-top: 0.5em;
		}
	}
	.about{

        &__box{
            padding: 5em 2em;
            
        }

        &__card{

            &--one{
                grid-row:1/2;
			grid-column:1/4;
            }
            &--two{
                grid-row:1/2;
			grid-column:4/7;
            }
            &--three{
                grid-row:1/2;
			grid-column:7/10;
            }
            &--four{
                grid-row:2/3;
			grid-column:1/4;
            }
            &--five{
                grid-row:2/3;
			grid-column:4/7;
            }
            &--six{
                grid-row:2/3;
			grid-column:7/10;
            }
        }

    }
}
@media (min-width: 992px) {
	nav {
		background-color: rgba(0, 0, 0, 0.4);
		.logo {
			height: 5em;
			width: 5em;
			padding: 0.5em;
			margin-left: 2em;
		}
		.social-media__box {
			display: block;
			position: absolute;
			right: 1.3em;

			margin: 0 0.5em;
			// margin-top: 0.5em;

			i {
				font-size: 1.7rem;
				padding: 0 0.7em;
				color: $white;
				transition: color 0.3s;
			}

			i:hover {
				color: $main-color;
			}
		}
		
	}
	.social-media__box-mobile{
		display: none;
		
	}

	.navbar-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.navbar-collapse {
		border-top: none;
	}
	
}
@media (min-width: 1200px) {
	header {
		h1 {
			font-size: 5.5rem;
		}
		p {
			font-size: 2.5rem;
			padding-top: 0.5em;
		}
	}
	h2{
		font-size: 3rem;
	}
}
